#baner{
    display:block;
    margin-right:auto;
}
.donava{
    width:25%;
    padding:2px;
    text-align: center;
    font-size: 23px;
    background-color: silver;
}
ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type:none;
}
body{
    background-color: darkgrey;
    display:block;
    margin:0;
    padding:0;
}
a{
    display:block;
    text-decoration: none;
    color:white;
}
nav a:hover{
    background-color: springgreen;
}
.donava:hover{
    background-color:springgreen;
}
header{
    background-color: darkgrey;
}
aside{
    display:block;
    height:599px;
    width:162px;
    float:right;
    margin-top: 20px;
}
