#baner{
    display:block;
    margin-right:auto;
}
.donava{
    width:25%;
    padding:2px;
    text-align: center;
    font-size: 23px;
    background-color: silver;
}
ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type:none;
}
body{
    background-color: darkgrey;
    margin:0;
    padding:0;
}
a{
    display:block;
    text-decoration: none;
    color:white;
}
nav a:hover{
    background-color: springgreen;
}
.donava:hover{
    background-color:springgreen;
}
header{
    background-color: darkgrey;
}
aside{
    float:right;
    height:56%;
    width:162px;
    margin-top: 20px;
}
.container{
    display:flex;
}
.card{
    display:inline-flex;
    width:17%;
    height:10%;
}
h2{
    margin-top:20px;
    text-align: center;
}
.card-price-deleted{
    color:gray;
    display: inline;
    text-decoration: line-through;
    text-decoration-color:red;
}
.card-new-price{
    display: inline;
    color:red;
}