#baner{
    display:block;
    margin-right:auto;
}
.donava{
    width:25%;
    padding:2px;
    text-align: center;
    font-size: 23px;
    background-color: silver;
}
ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type:none;
}
body{
    background-color: darkgrey;
    margin:0;
    padding:0;
}
nav a{
    display:block;
    text-decoration: none;
    color:white;
}
nav a:hover{
    background-color: springgreen;
    text-decoration: none;
    color:white;
}
.donava:hover{
    background-color:springgreen;
}
header{
    background-color: darkgrey;
}
footer h3{
    color:white;
    background-color:gray;
    text-align: center;
    margin-bottom: 0;
}
.content{
    display: grid;
}
.koszyk{
    position: relative;
    width:100%;
}
.zdjecie_produktu{
    position: absolute;
    left:0px;
    top:0px;
    width:150px;
    height:150px;
}
.nazwa_produktu{
    position:absolute;
    left:34.4%;
    word-wrap: break-word;
}
a{
    display:block;
    color:black;
    text-decoration: none;
}
.button1{
    display:block;
    margin-top:50px;
    left:200px;
}
.button{
    display:block;
    margin-top:10px;
    left:200px;
}
.produkt1{
    height:170px;
    margin-top: 10px;
}
.card-price{
    position: absolute;
    right:0px;
    bottom:0px;
    font-size:30px;
    margin-bottom:0px;
    font-weight: bold;
}
.produkt{
    height:170px;
}
footer{
    margin-top: 10px;
}
main{
    margin-top: 10px;
    margin-left: 10px;
    grid-row: 1;
    grid-column: 1;
    column-width: 600px;
}
.container{
    padding: 0;
    grid-row:1;
}
.column2{
    padding-left: 10px;
    grid-row: 1;
    grid-column: 2;
}
.wybor-dostawcy{
    position: relative;
    margin-top: 10px;
    height: 175px;
}
.kod-rabatowy{
    position: relative;
    margin-top: 40px;
    height: 210px;
    width:100%;
}
.column3{
    width:100%;
    grid-row:1;
    grid-column: 3;
}
.zamow{
    width:96%;
    height:50%;
    margin:10px 0 10px 10px;
}
.kontakt h4{
    color:white;
}
.kontakt h4 a{
    color:white;
}
