header h1{
    text-align: center;
    background-color: darkgrey;
    color:white;
    margin-right: auto;
}
body{
    background-color: gray;
    margin:0;
    padding:0;
}
ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type:none;
}
.buttonik{
    margin-top: 20px;
}
nav a{
    display: block;
    color:white;
    background-color: darkgray;
}
nav a:hover{
    text-decoration: none;
    background-color: gold;
}
nav li{
    width:40.3%;
    text-align: center;
    font-size: 23px;
}
.container{
    padding:0;
    margin:10px 0 0 10px;
}
.card-body{
    position:relative;
    padding: 0;
}
.zdjecie_produktu{
    position:absolute;
    top: 0px;
    left: 0px;
    width:45px;
    height:45px;
}
h5{
    margin-left: 50px;
}
.container .card{
    height: 50px;
}
.X{
    position: absolute;
    top: 0px;
    right: 0px;
}
.modify{
    position:absolute;
    top:1px;
    right:60px;
}
.zamow{
    position: absolute;
    top: 1px;
    right: 120px;
}
.produkt{
    margin-top: 10px;
}
.login{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-login{
    width: 300px;
    height: auto;
    text-align: center;
}
